<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find mobot_gazebo)/worlds/mobot.world"/> bug bug bug!--> 
    <!-- more default parameters can be changed here -->
  </include>

	<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper sdf/urdf file-->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find mobot_description)/sdf/model.sdf.xacro'" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="mobot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -param robot_description -model mobot" />
	 
</launch>